<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for ${path}</title>
</head>
<body>
<h1>Directory listing for ${path}</h1>
<hr>
<ul>
${files}
</ul>
<hr>
<input type="button" value="download current directory" onclick="window.location.href='${path}?&zip'"/>
<hr>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="fileInput">选择文件：</label>
    <input type="file" id="fileInput" name="files[]" multiple>
    <br>
    <button type="submit">submit</button>
</form>
</body>
</html>
